<h3 class="page-header">Events</h3>

<div class="panel panel-primary" *ngFor="let event of eventPosts">
  <div class="panel-heading">
    <h3 class="panel-title">{{ event.name }}</h3>
  </div>
  <div class="panel-body">
    <em>{{ event.date | date: 'MMM dd' }}</em><br>
    <p>{{ event.city }},&nbsp;{{ event.state }}</p>
    <a href="{{ event.url }}" target="_blank">Event Link</a>
  </div>
</div>

<!--NEW EVENT FORM-->
<div class="panel panel-info" *ngIf="newEvent">
  <div class="panel-heading">New Event</div>
  <div class="panel-body">
    <!--Custom Success/Error Message-->
    <div class="row">
      <div class="col-md-12 show-hide-message" *ngIf="message && newEvent">
        <div [ngClass]="messageClass">
          {{ message }}
        </div>
      </div>
    </div>
    <form  (submit)="onEventSubmit()" name="eventForm" [formGroup]="form">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="form-group">
              <label for="name">Event Name:</label>
              <div [ngClass]="{'has-success': form.controls.name.valid, ' has-error': form.controls.name.dirty && form.controls.name.errors}">
                <input type="text" name="name" class="form-control" autocomplete="off" formControlName="name" />
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-3">
          <div class="form-group">
            <label for="city">Event City</label>
            <div [ngClass]="{'has-success': form.controls.city.valid, 'has-error': form.controls.city.dirty && form.controls.city.errors}">
              <input type="text" name="city" class="form-control" autocomplete="off" formControlName="city"/>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="state">Event State</label>
            <div [ngClass]="{'has-success': form.controls.state.valid, 'has-error': form.controls.state.dirty && form.controls.state.errors}">
              <select name="state" class="form-control" formControlName="state">
                <option value="">Select</option>
                <option *ngFor="let state of states" value="{{ state.name }}">{{ state.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-3">
          <div class="form-group">
            <label for="date">Event Date</label>
            <div [ngClass]="{'has-success': form.controls.date.valid, 'has-error': form.controls.date.dirty && form.controls.date.errors}">
              <input type="date" name="date" class="form-control" autocomplete="off" formControlName="date"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="form-group">
            <label for="url">Event URL</label>
            <div [ngClass]="{'has-success': form.controls.url.valid, 'has-error': form.controls.url.dirty && form.controls.url.errors}">
              <input type="text" name="url" class="form-control" autocomplete="off" formControlName="url"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12 text-right">
          <button class="btn btn-success"><i class="fa fa-check web-icons" aria-hidden="true"></i>Save Event</button>
          <button class="btn btn-danger" (click)="cancelEventForm();"><i class="fa fa-times web-icons" aria-hidden="true" ></i>Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END NEW EVENT FORM-->


<button type="button" name="button" class="btn btn-info pull-right" *ngIf="!newEvent" (click)="newEventForm()"><i class="fa fa-plus web-icons" aria-hidden="true"></i>New Event</button>
