<h1 class="page-header">Industry Events</h1>

<div *ngFor="let event of eventPosts" class="event-container">
  <div class="event-containers">
    <div class="date-container">
      <div class="date-subcontainer">
        <p class="date">{{ event.date | date: 'dd'}}</p>
        <p class="month">{{ event.date | date: 'MMM'}}</p>
      </div>
    </div>
    <div class="event-info-container">
      <div class="event-info-subcontainer">
        <a href="{{ event.url }}" class="event-link" target="_blank">
          <p class="event-name">{{ event.name }}</p>
          <p class="event-location">{{ event.city }},&nbsp;{{ event.state }}</p>
        </a>
      </div>
      <div class="edit-event-container text-right" *ngIf="authService.loggedIn();">
        <button class="btn btn-danger" type="button" data-target="#deleteEventModal" data-toggle="modal" (click)="getCurrentEvent(event._id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button class="btn btn-warning" type="button" data-target="#editEventModal" data-toggle="modal" (click)="getCurrentEvent(event._id)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row text-right add-button-container">
  <div class="col-md-12" >
    <button *ngIf="authService.loggedIn();" type="button" name="button" data-target="#newEventModal" data-toggle="modal" class="btn btn-success btn-md">
      <i class="fa fa-plus web-icons" aria-hidden="true"></i>Add Event
    </button>
  </div>
</div>


<!--EDIT EVENT MODAL-->
<div id="editEventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form (submit)="updateEventSubmit()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Event</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 show-hide-message" *ngIf="editMessage">
              <div [ngClass]="editMessageClass">
                {{ editMessage }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Event Name</label>
                <input [disabled]="processing" type="text" name="name" class="form-control" [(ngModel)]="currentEvent.name"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="city">Event City</label>
                <input [disabled]="processing" type="text" name="city" class="form-control" autocomplete="off" [(ngModel)]="currentEvent.city"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="state">Event State</label>
                <select [disabled]="processing" name="state" class="form-control" [(ngModel)]="currentEvent.state">
                  <option value="">Select</option>
                  <option *ngFor="let state of states" value="{{ state.name }}">{{ state.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Event Date</label>
                <input [disabled]="processing" type="date" name="date" class="form-control" [(ngModel)]="currentEvent.date"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="url">Event URL</label>
                <input [disabled]="processing" type="text" name="url" class="form-control" autocomplete="off" [(ngModel)]="currentEvent.url"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success"><i class="fa fa-check web-icons" aria-hidden="true" ></i>Save Changes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelEditEvent">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--DELETE EVENT MODAL-->
<div id="deleteEventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button [disabled]="processing" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Event</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 show-hide-message" *ngIf="message">
            <div [ngClass]="messageClass">
              {{ message }}
            </div>
          </div>
        </div>
        <strong>Are you sure you want to delete this event?</strong>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" name="button" type="button" (click)="deleteEvent()"><i class="fa fa-check web-icons" aria-hidden="true"></i>Delete Event</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelDeleteEvent">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!--NEW EVENT MODAL-->
<div id="newEventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form  (submit)="onEventSubmit()" name="eventForm" [formGroup]="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Event</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 show-hide-message" *ngIf="message">
              <div [ngClass]="messageClass">
                {{ message }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Event Name:</label>
                <div [ngClass]="{'has-success': form.controls.name.valid, ' has-error': form.controls.name.dirty && form.controls.name.errors}">
                  <input type="text" name="name" class="form-control" autocomplete="off" formControlName="name" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="city">Event City</label>
                <div [ngClass]="{'has-success': form.controls.city.valid, 'has-error': form.controls.city.dirty && form.controls.city.errors}">
                  <input type="text" name="city" class="form-control" autocomplete="off" formControlName="city"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="state">Event State</label>
                <div [ngClass]="{'has-success': form.controls.state.valid, 'has-error': form.controls.state.dirty && form.controls.state.errors}">
                  <select name="state" class="form-control" formControlName="state">
                    <option value="">Select</option>
                    <option *ngFor="let state of states" value="{{ state.name }}">{{ state.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="date">Event Date</label>
                <div [ngClass]="{'has-success': form.controls.date.valid, 'has-error': form.controls.date.dirty && form.controls.date.errors}">
                  <input type="date" name="date" class="form-control" autocomplete="off" formControlName="date"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="url">Event URL</label>
                <div [ngClass]="{'has-success': form.controls.url.valid, 'has-error': form.controls.url.dirty && form.controls.url.errors}">
                  <input type="text" name="url" class="form-control" autocomplete="off" formControlName="url"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success"><i class="fa fa-check web-icons" aria-hidden="true"></i>Save Event</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelNewEvent">Cancel</button>
        </div>
    </form>
    </div>
  </div>
</div>

